<form method="post" action="{{ path('app_them_forma_questions_delete', {'id': them_forma_question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ them_forma_question.id) }}">
    <button class="btn">Delete</button>
</form>
