{% extends 'base.html.twig' %}

{% block title %}New ThemFormaQuestions{% endblock %}

{% block body %}
    <h1>Create new ThemFormaQuestions</h1>

    {{ include('them_forma_questions/_form.html.twig') }}

    <a href="{{ path('app_them_forma_questions_index') }}">back to list</a>
{% endblock %}
