{% extends 'base.html.twig' %}

{% block title %}Edit QuestionQcm{% endblock %}

{% block body %}
    <h1>Edit QuestionQcm</h1>

    {{ include('question_qcm/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_question_qcm_index') }}">back to list</a>

    {{ include('question_qcm/_delete_form.html.twig') }}
{% endblock %}
