{% extends 'base.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
<div class="formationMichel">
    <h1>Crée une Formation</h1>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('app_formation_index') }}">retourner à la  liste des formations</a>
</div>
{% endblock %}
