{% extends 'base.html.twig' %}

{% block title %}Edit Thematique{% endblock %}

{% block body %}
    <h1>Edit Thematique</h1>

    {{ include('thematique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_thematique_index') }}">back to list</a>

    {{ include('thematique/_delete_form.html.twig') }}
{% endblock %}
