{% extends 'base.html.twig' %}

{% block title %}New Thematique{% endblock %}

{% block body %}
    <h1>Create new Thematique</h1>

    {{ include('thematique/_form.html.twig') }}

    <a href="{{ path('app_thematique_index') }}">back to list</a>
{% endblock %}
