{% extends 'base.html.twig' %}

{% block title %}New Thematique{% endblock %}

{% block body %}
<div class="formationMichel">

    <h1>Ajouter Nouveau Test</h1>
    

    {{ include('thematique/_form.html.twig') }}

    <a href="{{ path('app_thematique_index') }}">back to list</a>
</div>
{% endblock %}
