{% extends 'base.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %}
<div class="FormationIndex">
    <h1>Questions index</h1>

    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>
                    <a href="{{ path('app_questions_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('app_questions_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_questions_new') }}">Create new</a>
    </div>
{% endblock %}
