{% extends 'base.html.twig' %}

{% block title %}New DerniereFormation{% endblock %}

{% block body %}
    <h1>Create new DerniereFormation</h1>

    {{ include('derniere_formation/_form.html.twig') }}

    <a href="{{ path('app_derniere_formation_index') }}">back to list</a>
{% endblock %}
