{% extends 'base.html.twig' %}

{% block title %}Edit ThemFormation{% endblock %}

{% block body %}
    <h1>Edit ThemFormation</h1>

    {{ include('them_formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_them_formation_index') }}">back to list</a>

    {{ include('them_formation/_delete_form.html.twig') }}
{% endblock %}
