{% extends 'base.html.twig' %}

{% block title  %}
	Home
{% endblock %}

{% block body %}
	<div class="homeDiv">
		<h3>Bienvenue Admin</h3>
		<p>Naviguez a votre guise</p>
		<div>
			<button>
				<a href="\candidat">Candidats</a>
			</button>
			<button>
				<a href="\formation">Formations</a>
			</button>
			<button>
				<a href="\testes">Les test</a>
			</button>
			<button>
				<a href="\dossier">Dossiers Candidats</a>
			</button>
			<button>
				<a href="\resultat">Resultats par test</a>
			</button>
		</div>
	</div>
</div>{% endblock %}
