{% extends 'base.html.twig' %}

{% block body %}
	{% block nav %}
		<div class="header1">
			<div class="logo">
				<img src="../img/Logo.png">
				<div class="buttonnav">
					<a href='#' class="profil">Mon profil</a>
					{# <a href='/login' class="deconnection">Se déconnecter</a> #}
					<a href="{{path('app_logout')}}" class="deconnection">deconnection</a>
				</div>
			</div>
			<div class="line"></div>
		</div>
	{% endblock %}
{% endblock %}
